.tit {
    color: grey;
}

.carrusel {
    width: 100vh;
}

.bg-image {
    background-image: url('./imgs/sornisaverde.jpeg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    width: 100%;
    height: 300px;
}

.bg-image::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5); /* Black overlay with 50% opacity */
    /* Or use hsla: hsla(0, 0%, 0%, 0.5) */
}

.content {
    position: relative;
    z-index: 1;
    color: white;
    padding: 20px;
}

.card {
    height: 300px; /* Adjust as needed */
  }
  .bg-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
  }
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(159, 158, 158, 0.29); /* Adjust opacity here */
  }
  .card-content {
    z-index: 10;
  }